# Python
venv/
__pycache__/
*.pyc

# Backend virtualenv
backend/Lib/
backend/Scripts/
backend/Include/
backend/__pycache__/
backend/*.cfg

# React
node_modules/
dist/

# Variables de entorno
.env

# VS Code
.vscode/

# Logs
*.log